@page
@model WebApp.Pages.Menu.Menu

@* @model TModel *@

<nav class="navbar navbar-light bg-light d-flex flex-column align-items-center">
    <a class="navbar-brand mb-3" href="#">Main Menu</a>
    <ul class="navbar-nav flex-column text-center">
        @* <li class="nav-item mb-2"> *@
        @*     <a class="nav-link" asp-page="/Index">Home</a> *@
        @* </li> *@
        <li class="nav-item mb-2">
            <a class="nav-link" asp-page="/NewGame">Start New Game</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" asp-page="/Games/Index">Load game</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" asp-page="/Games/Index">Options</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" asp-page="/Options/Index">Exit</a>
        </li>
    </ul>
</nav>